Automated Resume Relevance Scoring Workflow (2).json
{
  "name": "Automated Resume Relevance Scoring Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        2384,
        48
      ],
      "id": "99ed29c5-cf3f-4f9b-9116-9eef55d37f58",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YCyqIngAvtmq5XI6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "={{ $json.subject }} Shalu",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "11aihboQpXc_VR1zqHjvLOouOowsUq1cS",
          "mode": "list",
          "cachedResultName": "Resume Relevance Scoring System",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11aihboQpXc_VR1zqHjvLOouOowsUq1cS"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2592,
        48
      ],
      "id": "6e278853-7411-4dc7-8d5b-299f801dd83c",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4UaeM7umwkRPCaJr",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b7761a38-01b3-4962-8bf8-7a2f838f644f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "573f0b48-5c43-41d0-bb98-7e1ea41677dd",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Word"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2816,
        48
      ],
      "id": "75e091b9-1e77-4d42-907f-87e00584fb6c",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3232,
        48
      ],
      "id": "1a0ab557-bfbc-4fae-80fe-7c3a8512783d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4UaeM7umwkRPCaJr",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        3456,
        48
      ],
      "id": "e9054d50-847b-40d0-be79-fa98bd77d1c0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a5bd81b-2b74-44e0-8c55-e63c32037c4b",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3648,
        48
      ],
      "id": "e3b292e4-76ac-405c-8ea5-60f36e31868a",
      "name": "Standardize"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{$json.id}}/copy?convert=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3024,
        48
      ],
      "id": "b13e3d39-a7aa-4f80-8ef8-126829480e77",
      "name": "Convert to Doc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4UaeM7umwkRPCaJr",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1_saBP_1HYznvJsROZAJpd3Amy2pU0rQyjAyi1xTpb5g",
          "mode": "list",
          "cachedResultName": "Operations Associate – Tech Team",
          "cachedResultUrl": "https://docs.google.com/document/d/1_saBP_1HYznvJsROZAJpd3Amy2pU0rQyjAyi1xTpb5g/edit?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3856,
        48
      ],
      "id": "c0d7f2b4-cbe9-4084-b14c-6f168cb2e2e9",
      "name": "Get Job",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4UaeM7umwkRPCaJr",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        4064,
        48
      ],
      "id": "f61ef61e-7f3f-4c22-a5ae-378941b3e8c4",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Candidate's Resume :\n{{ $('Standardize').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert technical recruiter specializing in AI, automation, and software-driven operations roles. You have been given a job description for the Operations Associate – Tech Team position and a candidate's resume.\n\nYour task is to evaluate how well the candidate aligns with the role's operational, technical, and cross-functional requirements.\n\nFocus on assessing the candidate's ability to support engineering and analytics teams through effective coordination, technical problem-solving, communication, and process management. Base your evaluation strictly on the evidence provided in the resume and job description. Avoid assumptions and rely only on documented experience and skills.\n\nAnalyze the candidate across these dimensions:\n\n1. **Candidate Strengths**: Key qualifications and experiences that align with the job requirements\n2. **Candidate Weaknesses**: Gaps, missing skills, or concerns relative to the job requirements\n3. **Risk Factor**: Potential risks or uncertainties in hiring this candidate\n4. **Reward Factor**: Potential upside or value the candidate could bring if hired\n5. **Overall Fit Rating**: A score from 0-10 indicating how well the candidate fits the role\n6. **Justification for Rating**: Concise explanation referencing resume and job description alignment\n\nProvide your evaluation in the structured format defined by the output parser."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4272,
        48
      ],
      "id": "0f35ae9d-4547-44ab-adc4-a1a7c9102545",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4496,
        336
      ],
      "id": "5edb7e2f-b20d-4193-ba76-c7777a9a1a21",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "s72vdvNpYkGjawLF",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"resume_screening_evaluation\",\n  \"description\": \"Analyzes a candidate's resume against a job description and produces strengths, weaknesses, risk/reward assessment, and overall fit rating.\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"candidate_strengths\": {\n      \"type\": \"array\",\n      \"description\": \"Key strengths and qualifications that align with the job description.\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"candidate_weaknesses\": {\n      \"type\": \"array\",\n      \"description\": \"Gaps, missing skills, or concerns relative to the job requirements.\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"risk_factor\": {\n      \"type\": \"string\",\n      \"description\": \"Potential risks or uncertainties in hiring this candidate.\"\n    },\n    \"reward_factor\": {\n      \"type\": \"string\",\n      \"description\": \"Potential upside or value the candidate could bring if hired.\"\n    },\n    \"overall_fit_rating\": {\n      \"type\": \"integer\",\n      \"description\": \"Overall match score from 0 to 10 indicating how well the candidate fits the role.\",\n      \"minimum\": 0,\n      \"maximum\": 10\n    },\n    \"justification_for_rating\": {\n      \"type\": \"string\",\n      \"description\": \"Concise explanation of why the candidate received this rating, referencing resume and job description alignment.\"\n    }\n  },\n  \"required\": [\n    \"candidate_strengths\",\n    \"candidate_weaknesses\",\n    \"risk_factor\",\n    \"reward_factor\",\n    \"overall_fit_rating\",\n    \"justification_for_rating\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4272,
        320
      ],
      "id": "6bb37478-70c1-4671-a4e9-a69ccede6caf",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "text": "={{ $('Standardize').item.json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "first name",
              "description": "the first name of the candidate",
              "required": true
            },
            {
              "name": "last name",
              "description": "the last name of the candidate",
              "required": true
            },
            {
              "name": "email",
              "description": "the email address of the candidate",
              "required": true
            },
            {
              "name": "mobile number",
              "description": "the mobile number of the candidate",
              "required": true
            },
            {
              "name": "Resume file reference",
              "description": "the resume file reference of candidate",
              "required": true
            },
            {
              "name": "Relevance score (1-10)",
              "description": "the relevance score of the candidate",
              "required": true
            },
            {
              "name": "Clear reasoning",
              "description": "the clear explanation behind the score",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        4624,
        48
      ],
      "id": "10cc94cd-72ac-4b4e-a34c-7002a9a39bf2",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Ad4hwvDkMsT-28N74hFunBOZd8XiPX_uEeYaJHNBysE",
          "mode": "list",
          "cachedResultName": "Output sheet for Automated Resume Relevance Scoring",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ad4hwvDkMsT-28N74hFunBOZd8XiPX_uEeYaJHNBysE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ad4hwvDkMsT-28N74hFunBOZd8XiPX_uEeYaJHNBysE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate Name": "={{ $json.output['first name'] }} {{ $json.output['last name'] }}",
            "Candidate Email": "={{ $json.output.email }}",
            "Candidate Mobile Number": "={{ $json.output['mobile number'] }}",
            "Resume file reference\r": "={{ $json.output['Resume file reference'] }}",
            "Relevance score (0–100 or similar)\r": "={{ $json.output['Relevance score (1-10)'] }}",
            "explanation behind the score\n": "={{ $json.output['Clear reasoning'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Candidate Mobile Number",
              "displayName": "Candidate Mobile Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Candidate Email",
              "displayName": "Candidate Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume file reference\r",
              "displayName": "Resume file reference\r",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Relevance score (0–100 or similar)\r",
              "displayName": "Relevance score (0–100 or similar)\r",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "explanation behind the score\n",
              "displayName": "explanation behind the score\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4976,
        48
      ],
      "id": "214c028a-02f9-47fd-adfe-8256b855d13c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZW48dXv1ORyrVfv",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3040,
        208
      ],
      "id": "3fce0958-2454-4b2d-a6bc-4c00e2bfae41",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4UaeM7umwkRPCaJr",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        3248,
        208
      ],
      "id": "c1435978-6b50-4073-9d56-8a04012652ab",
      "name": "Extract from File2"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Standardize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Doc": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize": {
      "main": [
        [
          {
            "node": "Get Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Standardize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f526f8b6-5afc-44c4-ad23-a5bfa25a8a12",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c82fd38109d224e2a3810806f41b1285110404a4f0b28e9e14ccb8c7ceb2c1b0"
  },
  "id": "dqJaDazyKOtDXWVH",
  "tags": []
}